@{
    ViewData["Title"] = "Upload";
}
@model IrmaQuicDashboard.Models.ViewModels.IrmaLogSessionUploadViewModel

<div class="text-center">
    <h1 class="display-6">Sessions Upload</h1>
    <p>Upload your sessions here, which will consist of multiple Irma Sessions in an app and corresponding server log file.</p>
</div>

<div class="d-flex justify-content-between">
    <div class="p-1"></div>
    <div class="p-1">

        <form method="post" asp-action="CreateLog" enctype="multipart/form-data">
            Date of session: <input asp-for="Date" /><br>
            Session number of this day: <input asp-for="SessionNumberUploaded" /><br>
            General location: <input asp-for="Location" /><br>
            Description: <input asp-for="Description" /><br>
            Uses QUIC?: <input asp-for="UsesQuic" /><br>
            Is stationary?: <input asp-for="IsStationary" /><br>
            Is WiFi?: <input asp-for="IsWiFi" /><br>
            Is (mostly) 4G?: <input asp-for="IsMostly4G" /><br>
            Is (mostly) 3G?: <input asp-for="IsMostly3G" /><br>
            App log: <input asp-for="AppLog" multiple /><br>
            Server log: <input asp-for="ServerLog" multiple /><br>
            <input type="submit" />
        </form>
    </div>
    <div class="p-1"></div>
</div>




