@{
    ViewData["Title"] = "Irma Log Session";
}

<div class="text-center">
    <h1 class="display-4">Irma Log Sessions</h1>
    <p>After uploading select the Irma log session you want to display.</p>
</div>
