@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
<h1 class="text-danger">Error.</h1><br>
<h2 class="text-danger">An error occurred while processing your request.</h2><br>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code><br>
    </p>
}

@if (Model.ShowErrorMessage)
{
    <p>
        <strong>Error message:</strong> <code>@Model.ErrorMessage</code><br>
    </p>
}

@if (Model.ShowStacktrace)
{
    <p>
        <strong>Stack trace:</strong> <code>@Model.Stacktrace</code><br>
    </p>
}
</div>


